<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block sitetitle %}Todolist-Applikation{% endblock %}</title>
		<meta name="description" content="application to manage a list of todo-entries">
		<meta name="author" content="Stefan Wimmer and Bernhard Widmann">
	</head>
	<body>
		<header>
			<h1><a href="{% url 'overview' %}">TO-DO</a></h1>
			<nav>{% block header %}{% endblock %}</nav>
		</header>
		<div id="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>