{% extends "base.html" %}

{% block sitetitle %}
	{% if todo_entry %}Ändern{% else %}Hinzufügen{% endif %}
{% endblock %}

{% block header %}
<ul>
	<li><a href="{% url 'overview' %}" class="overview">Übersicht</a></li>
</ul>
{% endblock %}

{% block content %}
<section class="form">
	{% if todo_entry %}
	<form action="{% url 'edit' todo_entry %}" method='post'>
		<h2>Ändern</h2>
	{% else %}
	<form action="{% url 'add' %}" method='post'>
		<h2>Hinzufügen</h2>
	{% endif %}
		{% csrf_token %}
		{% for field in form %}
			{{ field.label_tag }}
			{{ field }}
			{{ field.errors }}<br>
		{% endfor %}
		<nav>
			<ul>
				<li><input type="submit" value="Abschicken" class="submit"/></li>
				<li><a href="{% url 'overview' %}" class="overview">Abbrechen</a></li>
				{% if todo_entry %}
					<li><a href="{% url 'delete' todo_entry %}" class="delete">Löschen</a></li>
				{% endif %}
			</ul>
		</nav>
	</form>
</section>
{% endblock %}