<!DOCTYPE html>
<html>
<head lang = "en">
<meta charset="UTF-8">
<title>Todo-Entry</title>
</head>
<body>

{% if todo_entry %}
<form action="{% url 'edit' todo_entry %}" method='post'>
{% else %}
<form action="{% url 'add' %}" method='post'>
{% endif %}

{% csrf_token %}

{% for field in form %}
	{{ field.label_tag }}
	{{ field }}
	{{ field.errors }}<br>
{% endfor %}

<input type="submit" value="Submit" />

{% if todo_entry %}
&nbsp;&#124;&nbsp;<a href="{% url 'delete' todo_entry %}">Delete</a>
{% endif %}

</form>
</body>
</html>