<!DOCTYPE html>
<html>
<head lang = "en">
<meta charset="UTF-8">
<title></title>
</head>
<body>

<h1 align="center">Todolist-Overview</h1>
<br>

<h2>Offen</h2>
<h4>Title | Date and Time of Publication</h4>
<hr />

{% for entry in open_entries %}
	{{ entry.title }}&nbsp;&#124;&nbsp;
	{{ entry.publication }}&nbsp;&#124;&nbsp;
	<a href="{% url 'edit' entry.id %}">edit</a>&nbsp;&#124;&nbsp;
	<a href="{% url 'switch' entry.id %}">switch</a>&nbsp;&#124;&nbsp;
	<a href="{% url 'delete' entry.id %}">delete</a>
	<br />
{% endfor %}
<br />

<h2>Erledigt</h2>
<h4>Title | Date and Time of Publication</h4>
<hr />

{% for entry in done_entries %}
	{{ entry.title }}&nbsp;&#124;&nbsp;
	{{ entry.publication }}&nbsp;&#124;&nbsp;
	<a href="{% url 'edit' entry.id %}">edit</a>&nbsp;&#124;&nbsp;
	<a href="{% url 'switch' entry.id %}">switch</a>&nbsp;&#124;&nbsp;
	<a href="{% url 'delete' entry.id %}">delete</a>
	<br />
{% endfor %}
<br />

<hr />
<a href="{% url 'add' %}">add</a>
<a href="{% url 'logout' %}">logout</a>

</body>
</html>