{% extends "base.html" %}

{% block sitetitle %}Übersicht{% endblock %}

{% block header %}
<ul>
	<li><a href="{% url 'add' %}" class="add">Neuer Eintrag</a></li>
	<li><a href="{% url 'logout' %}" class="logout">Ausloggen</a></li>
</ul>
{% endblock %}

{% block content %}
<section id="open">
	<header>
		<h2>Offen</h2>
	</header>
	{% for entry in open_entries %}
		<article>
			<h3>{{ entry.title }}</h3>
			<p class="subtitle">
				zu erledigen bis  
				{% if entry.duedate %}
					<time datetime="{{ entry.duedate }}">{{ entry.duedate|date:"d. F. Y" }}, </time>
				{% else %}
					irgendwann
				{% endif %} 
				{% if entry.duetime %}
					<time datetime="{{ entry.duetime }}">{{ entry.duetime|time:"H:i" }} Uhr</time>
				{% else %}
					irgendwann
				{% endif %}
			</p>
			<p class="priority">Priorität: {{ entry.get_priority_display }}</p>
			<p class="description">Beschreibung: {{ entry.description }}</p>
			<nav>
				<ul>
					<li><a href="{% url 'edit' entry.id %}" class="edit">Ändern</a></li>
					<li><a href="{% url 'switch' entry.id %}" class="switch">Statuswechsel</a></li>
				</ul>
			</nav>
		</article>
	{% endfor %}
</section>
<section id="done">
	<header>
		<h2>Erledigt</h2>
	</header>
	{% for entry in done_entries %}
		<article>
			<h3>{{ entry.title }}</h3>
			<p class="subtitle">
				zu erledigen bis 
				{% if entry.duedate %}
					<time datetime="{{ entry.duedate }}">{{ entry.duedate|date:"d. F. Y" }}, </time>
				{% else %}
					irgendwann
				{% endif %}
				{% if entry.duetime %}
					<time datetime="{{ entry.duetime }}">{{ entry.duetime|time:"H:i" }} Uhr</time>
				{% else %}
					irgendwann
				{% endif %}
			</p>
			<p class="priority">Priorität: {{ entry.get_priority_display }}</p>
			<p class="description">Beschreibung: {{ entry.description }}</p>
			<nav>
				<ul>
					<li><a href="{% url 'edit' entry.id %}" class="edit">Ändern</a></li>
					<li><a href="{% url 'switch' entry.id %}" class="switch">Statuswechsel</a></li>
				</ul>
			</nav>
		</article>
	{% endfor %}
</section>
{% endblock %}