<!DOCTYPE html>
<html>
<head lang ="en">
<meta charset="UTF-8">
<title></title>
</head>
<body>

	{% if form.errors %}
	<p>User passwort is invalid</p>
	{% endif %}

	<form method="post", action = "{% url 'django.contrib.auth.views.login' %}">

	{% csrf_token %}
	<table>
		<tr>
			<td>{{ form.username.label_tag }}</td>
			<td>{{ form.username }}</td>
		</tr>
		<tr>
			<td>{{ form.password.label_tag }}</td>
			<td>{{ form.password }}</td>
		</tr>
	<table>

	<input type="submit" value="login" />
	<input type="hidden" name="next" value="{% url 'overview' %}" />

	</form>
</body>
</html>